<div class="container">
  <h1>AUTO PARTS BITCHES! GET EM HERE! </h1>
  <p>Hello naked people! For demz good wheelz call 555 - _ _ _ - _ _ _ _</p>

  <table>
    <tr>
      <th><a href="/greasy_thing"> Greazy Thingz!</th>
      <th><a href="/wheels"> Demz Good Wheelz!</th>
    </tr>
    <tr>
  </table>

</div>
