<div class="container">
  <h1>Welcome to Andrew and Elaine's Services Page - WE SELL IT ALL ONE PIECE AT A TIME!!</h1>
  <p>Hello naked people! For a good time call 555 - _ _ _ - _ _ _ _.
  Or, if you want to be traditional, shop for our "auto" parts below.</p>

  <table>
    <tr>
      <th><a href="/auto_parts">Auto Parts </th>
      <th><a href="/rants_and_raves"> Rants and Raves!!! </th>
      <th><a href="/new_post"> List your stupid shit!!! </th>
      <th><a href="/posts"> A comprehensive list of shit!!! </th>
    </tr>
    <tr>
  </table>

</div>
