<div class="container">
  <h1>Post Your Stuff!</h1>

  <form action="/new_post" method="post">

    <label for="description">Description: </label>
    <input id="description" type="text" name="description"><br><br>

    <label>Location: <input id="location" type="text" name="location" placeholder="description"></label><br><br>

    <label>Price: <input id="price" type="text" name="price"></label><br><br>

    <label>Phone: <input id="phone" type="text" name="phone"></label><br><br>


    <input type="submit" value="Add your post!">
  </form>
</div>
