<div class="container">
  <h1> RANTS</h1>
  <p>igonrance ensues</p>
  <p>BELIEVE it or not, these are REAL 911 Calls!<p>
<p>Dispatcher: 9-1-1 What is your emergency? Caller: I heard what sounded like gunshots coming from the brown house on the corner. Dispatcher: Do you have an address? Caller: No, I have on a blouse and slacks, why?<p>
<p>Dispatcher: 9-1-1 What is your emergency? Caller: Someone broke into my house and took a bite out of my ham and cheese sandwich . Dispatcher: Excuse me? Caller: I made a ham and cheese sandwich and left it on the kitchen table and when I came back from the bathroom, someone had taken a bite out of it. Dispatcher: Was anything else taken? Caller: No, but this has happened to me before and I’m sick and tired of it!<p>
<p>Dispatcher: 9-1-1 What is the nature of your emergency? Caller: I’m trying to reach nine eleven but my phone doesn’t have an eleven on it. Dispatcher: This is nine eleven. Caller: I thought you just said it was nine-one-one Dispatcher: Yes, ma’am nine-one-one and nine-eleven are the same thing. Caller: Honey, I may be old, but I’m not stupid.<p>
<p>My Personal Favorite!!!<p> 
  <p>Dispatcher: 9-1-1 What’s the nature of your emergency? Caller: My wife is pregnant and her contractions are only two minutes apart Dispatcher: Is this her first child? Caller: No, you idiot! This is her husband!<p>
<p>And the winner is……….<p>
<p>Dispatcher: 9-1-1 Caller: Yeah, I’m having trouble breathing. I’m all out of breath. Darn….I think I’m going to pass out. Dispatcher: Sir, where are you calling from? Caller: I’m at a pay phone. North and Foster. Dispatcher: ! Sir, an ambulance is on the way. Are you an asthmatic? Caller: No Dispatcher: What were you doing before you started having trouble breathing? Caller: Running from the Police.<p>

</div>
