<div class="container">
  <h1> RANTS AND RAVES! ENTER AT YOUR OWN DISCRETION, FOR WE HAVE NONE </h1>
  <p>igonrance ensues</p>

  <table>
    <tr>
      <th><a href="/rants"> RANTS!</th>
      <th><a href="/raves"> RAVES!</th>
    </tr>
    <tr>
  </table>

</div>
