<div class="container">
  
  <h1> RAVES</h1>
  
  <p> Please Eric,try to have John put the bottle down and dry out. Pray for the USA.......</p>
  
  <p> Yo J! i need that smoke.
  Sent text messages and emails. What the duck is up dude? You aint locked up or dead are ya? <p>

  <p><img src="http://cdn.lolzbook.com/wp-content/uploads/2013/02/Funny-dog.jpg" /><p>
  
  <p><img src="http://buymelaughs.com/wp-content/uploads/2013/07/funny-dog-pictures-Collection-of-top-30-funny-dog-pictures-31.jpg" /><p>

  <p><img src="http://doiamuseyou.com/wp-content/uploads/2013/07/funny-dog-diving.jpg" /></p>

</div>
